mindbox_tz_lib1/venv/
mindbox_tz_lib1/mindboxtimonin/__pycache__/timtest.cpython-311.pyc
mindbox_tz_lib1/tests/__pycache__/test_timtest.cpython-311.pyc
mindbox_tz_lib1/mindboxtimonin/__pycache__/__init__.cpython-311.pyc
mindbox_tz_lib1/tests/__pycache__/__init__.cpython-311.pyc
task2/venv/